body{
margin: 0%;
font-family: 'Poppins', sans-serif;
}
section{
margin: 0%;

}
#text1{
    margin: 0%;
    padding: 200px;
    color:rgb(255, 255, 250);
    font-size: 30px;
}
h1{
  
    color: aliceblue;
    text-shadow: 1px 1px 5px black;
}
#s1{
    background-image: url('images/donation5.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
    width: auto;
;
}
.button1{
    background-color: rgba(255, 89, 89, 1);
    border-radius: 5px;
    padding: 5px 10px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgb(238, 14, 14) ;

}
.text2{
    margin-top:70px;
    padding: 0px;
    font-size: 50px;

}
.text3{

}
h3{
    font-size: 30px;
}
.button2{
    background-color: rgba(255, 89, 89, 1);
    border-radius: 5px;
    padding: 5px 10px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgb(238, 14, 14) ;
    
}
#s2{
    border-bottom: 1px solid rgb(195, 195, 195);

    color: rgb(204, 204, 204);
}
#amount{
    display: flex;
    text-align: center;
    margin-left: 25%;
    
    
}
.h3text{
    background-color: rgb(158, 158, 158);
    padding: 40px 20px;
    border-radius: 5px;
    margin: 8px;

}
#h3text2{
    background-color: rgb(237, 162, 162);
    padding: 40px 20px;
    border-radius: 5px;
    margin: 8px;
    border: 2px solid red;
    color: red;
}
#s3{
    display: flex;
}
#s3.1{

}
#s3.2{

}
#s3.3{
    
}