body{

}
section{
margin: 0%;
}
#img1{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    background-position:;

    
}
#s1{
    padding:px;
}
